<div class="row mt-5 mb-4">
  <div class="col">
    <h1>NContate-me</h1>
  </div>
</div>

<div class="row">
  <div class="col">
    <form action="" method="post">
      <div class="mb-3">
        <label for="E-mail" class="form-label"> E-mail</label>
        <input type="email" class="form-control" id="E-mail" name="email" required>
        
      </div>
      <div class="mb-3">
        <label for="Telefone" class="form-label"> Telefone </label>
        <input type="tel" class="form-control" id="Telefone" name="email" required>
      </div>
      <div class="mb-3">
        <label for="Mensagem" class="form-label"> Assunto </label>
        <input type="text" class="form-control" id="Assunto" name="email" required>
        <textarea class="from-control" name="Assunto" id="" cols="30" rows="10"></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Salvar</button>
    </form>
  </div>
</div>

